<html>

<head>
    <title>파우누스</title>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="../../static/css/Basilisklizard.css">
</head>

<body bgcolor="#9DDCCE">
    <div class="wrap">
        <div style="position:absolute; left:600; top:20;">
            <a href="/main"><img src="{{ url_for('static', filename='image/mini.png') }}" class="mini"></a>
        </div>
        <div style="font-size: 50%; position:absolute; right:343; top:30;">{{id}}님&nbsp;<button type="button" class="submit" onclick="location.href='/logout'">로그아웃</button></div>
        <div class="back-wrap">
            <div class="ground-wrap">
                <img src="{{ url_for('static', filename='image/leopardtortoise.jpg') }}" class="B-img">
                <div style="font-size: 17px; position:absolute; left: 120; top:515; line-height: 30px;">
                    <div class="font">· 이름 : <font size="5"><B>레오파드 육지거북(Leopard Tortoise)</B></font><br>
                        · 수명 : 50~80년<br>
                        · 크기 : 최대 약 76cm<br>
                        · 먹이 : 초식성<br>
                        · 서식지 : 동부에서 남부 아프리카의 건초지대<br>
                        · 부연 설명<br>
                        :
                        땅거북중에서 4번째로 크게 자라는 거북이다. 등갑이 다른 땅거북에 비해서 높게
                        자라는 특징<br>
                        이 있다. 때문에 뒤집혀도 오뚜기처럼 빨리 정상으로 돌아온다. 주로 낮에 활동한다.
                        번식이 쉽<br>
                        고, 다산하기 때문에 원산지에서의 수출이 필요없을 정도가 되었으며, IUCN적색 목록
                        에서도 <br>
                        최소단계인 LC로 분류되고 있다.
                    </div>
                </div>
            </div>
            <div style="width: auto; max-width: 150px;position:absolute;left: 90px;">
                <a href="/reptile/galapagostortoise"><img src="{{ url_for('static', filename='image/next2.png') }}" width="150"></a>
            </div>
            <a href="/reptile/hornedlizard"><img src="{{ url_for('static', filename='image/next.png') }}" class="next"></a>
        </div>
    </div>
</body>

</html>