<html>

<head>
    <title>파우누스</title>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="../../static/css/birds.css">
</head>

<body bgcolor="#9DDCCE">
    <div class="wrap">
        <div style="position:absolute; left:600; top:20;">
            <a href="/main"><img src="{{ url_for('static', filename='image/mini.png') }}" class="mini"></a>
        </div>
        <div style="font-size: 50%; position:absolute; right:343; top:30;">{{id}}님&nbsp;<button type="button" class="submit" onclick="location.href='/logout'">로그아웃</button></div>
        <div class="back-wrap">
            <div class="ground-wrap">
                <img src="{{ url_for('static', filename='image/hummingbird.png') }}" class="I-img">
                <div style="font-size: 17px; position:absolute; left: 120; top:515; line-height: 30px;">
                    <div class="font">· 이름 : <font size="5"><B>벌새(Hummingbird)</B></font><br>
                        · 수명 : 3~5년<br>
                        · 크기 : 6.5~21.5cm<br>
                        · 먹이 : 곤충, 꿀<br>
                        · 서식지 : 열대 지방<br>
                        · 부연 설명 :
                        생물 역사상 가장 작은 조류이다. 날갯짓 속도가 매우 빨라서 소리를 들으면 마치 벌<br>
                        과 같은 소리가 나서 벌새라고 불린다. 짧은 다리와 약한 발가락을 대신해 날개가 다른 새보다 몇<br>
                        배로 튼튼하다고 한다. 날갯짓이 빠르기 때문에 눈으로 보기 힘들다.
                    </div>
                </div>
            </div>
            <div style="width: auto; max-width: 150px;position:absolute;left: 90px;">
                <a href="/birds/owl"><img src="{{ url_for('static', filename='image/next2.png') }}" width="150"></a>
            </div>
            <a href="/birds/paradisaeidae"><img src="{{ url_for('static', filename='image/next.png') }}" class="next"></a>
        </div>
    </div>
</body>

</html>