<html>

<head>
    <title>파우누스</title>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="../../static/css/birds.css">
</head>

<body bgcolor="#9DDCCE">
    <div class="wrap">
        <div style="position:absolute; left:600; top:20;">
            <a href="/main"><img src="{{ url_for('static', filename='image/mini.png') }}" class="mini"></a>
        </div>
        <div style="font-size: 50%; position:absolute; right:343; top:30;">{{id}}님&nbsp;<button type="button" class="submit" onclick="location.href='/logout'">로그아웃</button></div>
        <div class="back-wrap">
            <div class="ground-wrap">
                <img src="{{ url_for('static', filename='image/parrot.png') }}" class="I-img">
                <div style="font-size: 17px; position:absolute; left: 120; top:515; line-height: 30px;">
                    <div class="font">· 이름 : <font size="5"><B>앵무새(Parrot)</B></font><br>
                        · 수명 : 6~15년<br>
                        · 크기 : 12~20cm<br>
                        · 먹이 : 과일, 채소,곡류, 벌레, 펠렛(사료)<br>
                        · 서식지 : 산림<br>
                        · 부연 설명 :
                        다양한 섬에서 분포하는 새. 깃털의 경우 색이 아주 화려하고 다양하다. 부리는 아주 <br>
                        강하고 갈고리처럼 밑으로 굽어져 있으며 군집생활(함께 지내는)을 한다 한 번에 1개에서 12개까 <br>
                        지의 알을 낳으며 나무에 있는 구멍을 둥지로 사용한다. <br>
                    </div>
                </div>
            </div>
            <a href="/birds/owl"><img src="{{ url_for('static', filename='image/next.png') }}" class="next"></a>
        </div>
    </div>
</body>

</html>