<html>

<head>
    <title>파우누스</title>
    <meta chareset="UTF-8">
        <link rel="stylesheet" href="../../static/css/mammalia.css">
</head>

    <body bgcolor="#9DDCCE">
        <div class="wrap">
            <div style="position:absolute; left:600; top:20;">
                <a href="/main"><img src="{{url_for('static', filename='image/mini.png') }}" class="mini"></a>
            </div>
            <div style="font-size: 50%; position:absolute; right:343; top:30;">{{id}}님&nbsp;<button type="button" class="submit" onclick="location.href='/logout'">로그아웃</button></div>
            <div class="back-wrap">
                <div class="ground-wrap">
                    <img src="{{ url_for('static', filename='image/spectacledbear.jpg') }}" class="I-img">
                    <div style="font-size: 17px; position:absolute; left: 120; top:515; line-height: 30px;">
                        <div class="font">· 이름 : <font size="5"><B>안경곰(Spectacled bear)</B></font><br>
                            · 수명 : 15~30년<br>
                            · 크기 : 150~180m<br>
                            · 먹이 : 나뭇잎, 딸기, 곤충 등<br>
                            · 서식지 : 남아프리카 대륙<br>
                            · 부연 설명 :
                            나무 위에 잔가지로 큰 집을 짓고 산다.<br>
                            안경곰이라는 이름은 눈 주위에 흰 털이 둥근 고리 모양으로 나 있어,<br>
                            안경처럼 보이기 때문에 지어졌다.<br>
                            목과 가슴에도 흰 무늬가 있다.<br>
                            주로 나뭇잎이나 식물의 뿌리, 과일, 열매 등을 먹고,<br>
                            때로는 물고기와 곤충 또는 사슴과 맥 같은 초식동물들을 사냥하기도 한다.<br>
                            페루의 유명 관광지이자 유적지인 마추픽추에서도 목격되기도 한다. 
                        </div>
                    </div>
                </div>
                <div style="width: auto; max-width: 150px;position:absolute;left: 90px;">
                    <a href="/mammalia/arcticfox"><img src="{{ url_for('static', filename='image/next2.png') }}" width="150"></a>
                </div>
                <a href="/mammalia/jaguar"><img src="{{ url_for('static', filename='image/next.png') }}" class="next"></a>
            </div>
        </div>
    </body>
</html>